:host ::ng-deep nb-stepper .step-content {
  text-align: center;

  button {
    cursor: pointer;
    margin: 0.5rem;
  }
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Adjust as needed */
  gap: 20px; /* Adjust spacing between cards */
}

.card {
  width: 400px; /* Adjust width of each card */
  padding: 20px;
  background-color: #ffffff; /* Use lowercase hex color */
  border-radius: 8px;
  text-align: center;
}

.card img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.button-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  margin-top: 20px; /* Optional: Add some space above the button */
}

button[nbButton] {
  display: flex;
  align-items: center;

  i {
    margin-right: 5px; /* Add space between icon and text */
  }
}

.start-button {
  background-color: #007bff; /* Change to your preferred color */
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #0056b3; /* Darker shade for hover effect */
  }

<<<<<<< HEAD
  &:active {
    background-color: #004085; /* Even darker shade for active effect */
=======
<<<<<<< Updated upstream
  .card {
    width: 400px; /* Adjust width of each card */
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    text-align: center;
>>>>>>> 9a0e8d7cd80e12fd230a4077d9e5fb9446455c9a
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
  }
}

<<<<<<< HEAD
/* Ensure there is an empty line at the end of the file */
=======
  .top-right-icon {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
  }
=======
.start-button {
  background-color: #007bff; /* Change to your preferred color */
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #0056b3; /* Darker shade for hover effect */
  }

  &:active {
    background-color: #004085; /* Even darker shade for active effect */
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
  }
}

/* Ensure there is an empty line at the end of the file */
>>>>>>> Stashed changes
>>>>>>> 9a0e8d7cd80e12fd230a4077d9e5fb9446455c9a
