<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-6 mb-4">
      <!-- Optional content -->
    </div>
    <div class="col-lg-8 col-md-6 mb-4">
      <h3 class="page-title text-truncate text-dark font-weight-medium mb-1">Create ROOM</h3>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">List of Users to Invite</h4>
      <form class="container" [formGroup]="add_session" (ngSubmit)="Add()">
        <!-- Room Name Input -->
        <div class="form-group">
          <label for="name">Room Name</label>
          <input type="text" id="name" formControlName="name" class="form-control" placeholder="Enter Room Name">
        </div>
        <button type="submit" class="btn btn-primary">Add Session</button>
      </form>

      <!-- List of Users to Invite -->
      <div *ngIf="listUsers.length > 0" class="mb-4">
        <div class="card">
          <div class="card-body">
            <table class="table table-responsive">
              <thead class="bg-primary text-white">
              <tr>
                <th>Email</th>
                <th>Username</th>
                <th>Account Enabled</th>
                <th class="btn-col">Action</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let user of listUsers">
                <td>{{ user.email }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.accountEnabled }}</td>
                <td class="btn-col">
                  <button (click)="inviteUser(user.id)" class="btn btn-outline-primary waves-effect waves-light">Invite</button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <!-- List of Issues -->
      <div class="table-responsive" *ngIf="issues.length > 0">
        <table class="table">
          <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Description</th>
            <th>Status</th>
            <th class="btn-col">Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let issue of issues; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ issue.title }}</td>
            <td>{{ issue.description }}</td>
            <td>
              <span [ngClass]="{
                  'status-to-do': issue.status === 'TO_DO',
                  'status-in-progress': issue.status === 'IN_PROGRESS',
                  'status-completed': issue.status === 'COMPLETED'
                }">
                {{ issue.status }}
              </span>
            </td>
            <td class="btn-col">
              <button (click)="ajouter_issue(issue.id)" class="btn btn-outline-primary waves-effect waves-light">Ajouter</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
