.table th, .table td {
  vertical-align: middle;
}
.btn-col {
  text-align: center;
}
.page-title {
  margin: 20px 0;
}
<<<<<<< HEAD
.container {
  margin-top: 20px;
}
=======
<<<<<<< Updated upstream
 .container {
   margin-top: 20px;
 }
=======
.container {
  margin-top: 20px;
}
>>>>>>> Stashed changes
>>>>>>> 9a0e8d7cd80e12fd230a4077d9e5fb9446455c9a
.table th, .table td {
  vertical-align: middle;
}
.btn-col {
  text-align: center;
}
.page-title {
  margin: 20px 0;
}
<<<<<<< HEAD
=======
<<<<<<< Updated upstream

=======
>>>>>>> Stashed changes
>>>>>>> 9a0e8d7cd80e12fd230a4077d9e5fb9446455c9a
