<nb-card>
    <nb-card-header>Add Project</nb-card-header>
    <nb-card-body>
      <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="inputTitle" class="label">Title</label>
              <input type="text" nbInput fullWidth id="inputTitle" formControlName="title" placeholder="Title">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="inputStatus" class="label">Status</label>
              <nb-select fullWidth id="inputStatus" formControlName="status" placeholder="Select Status">
                <nb-option value="IN_PROGRESS">IN_PROGRESS</nb-option>
                <nb-option value="COMPLETED">COMPLETED</nb-option>
                <nb-option value="ON_HOLD">ON_HOLD</nb-option>
                <nb-option value="CANCELLED">CANCELLED</nb-option>
              </nb-select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="inputDescription" class="label">Description</label>
              <textarea rows="5" nbInput fullWidth id="inputDescription" formControlName="description" placeholder="Description"></textarea>
            </div>
          </div>
        </div>
        <button type="submit" nbButton status="primary">Submit</button>
      </form>
    </nb-card-body>
  </nb-card>
  