<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6 mb-4">
        </div>
        <div class="col-7 align-self-center">
            <h3 class="page-title text-truncate text-dark font-weight-medium mb-1">Scrum Master Voting Page</h3>
        </div>
    </div>

    <!-- Issues Selection -->
    <h4 class="card-title">Select Issue to Start Voting</h4>
    <form class="container">
        <div class="form-group">
            <label for="selectedIssueTitle">Choose an Issue</label>
            <select id="selectedIssueTitle" class="form-control" (change)="startVote($event)">
                <option *ngFor="let issue of issues" [ngValue]="issue">
                    {{ issue.title }}
                </option>
            </select>
        </div>


        <button type="button" (click)="finishVote()" class="btn btn-primary">Finish Voting</button>
    </form>

    <!-- Fibonacci Cards -->
    <div class="card-container">
        <div
                *ngFor="let number of fibonacciSequence"
                class="card"
                [ngClass]="{'disabled': isVotingDisabled}"
                (click)="onCardClick(number)"
        >
            <div>
                <svg *ngIf="number === 0" class="disabled-svg">
                    <!-- SVG content here if needed -->
                </svg>
                {{ number }}
            </div>
        </div>
    </div>

    <!-- Last Clicked Card -->
    <div class="last-clicked-card" *ngIf="lastClickedValue !== null">
        <h4>Last Clicked Value:</h4>
        <div class="card">
            <div>
                {{ lastClickedValue }}
            </div>
        </div>
        <button (click)="validateChoice()" class="cssbuttons-io-button">Validate Choice
            <div class="icon">
                <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z" fill="currentColor"></path>
                </svg>
            </div>
        </button>
      <button (click)="validateChoice2()" class="cssbuttons-io-button">okkey</button>
    </div>

    <!-- Validated Card -->
    <div class="validated-card" *ngIf="validatedValue !== null">
        <h4>Validated Value:</h4>
        <div class="card">
            <div>
                {{ validatedValue }}
            </div>
        </div>
    </div>
</div>
