<nb-card>
    <nb-card-header>Add Issue</nb-card-header>
    <nb-card-body>
      <form [formGroup]="whatifform" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="inputTitle" class="label">Title</label>
          <input type="text" nbInput fullWidth id="inputTitle" formControlName="title" placeholder="Title">
        </div>
        <div class="form-group">
          <label for="inputDescription" class="label">Description</label>
          <textarea rows="5" nbInput fullWidth id="inputDescription" formControlName="description" placeholder="Description"></textarea>
        </div>
        <button type="submit" nbButton status="primary">Submit</button>
      </form>
    </nb-card-body>
  </nb-card>
  