.vote-results-container {
  margin-top: 20px;

  h2 {
    margin-bottom: 20px;
  }

  .result-card {
    margin: 12px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 2px solid #e5e5e5;
    border-radius: 6px;
    text-align: center;
    font-size: 24px;
    color: #333;
  }
}
